
<h1 class="special">{{ name }}</h1>
<div>Hello 
    <!--
    <span *ngIf="showName">{{ name }}</span>
    <span *ngIf="!showName"> World</span>

    //-->

    <span *ngIf="showName; else noName">{{ name }}</span>
    <ng-template #noName>World</ng-template>

    <hr>
    <span>Hello {{ showName ? name :  'World' }}</span>

    <hr/>
    <div [ngSwitch]="greeting">
        <div *ngSwitchCase="'1'">Hello Greeting</div>
        <div *ngSwitchCase="'2'">Hi Buddy</div>
        <div *ngSwitchCase="'3'">Good bye</div>
        <div *ngSwitchDefault>Hello World</div>

    </div>
</div>



    
               